.paradise-hotel-img {
  width: 100%;
  height: 43rem;
  position: relative;
  margin-bottom: 2rem;
}

.hotel-name {
  position: absolute;
  top: 35%;
  width: 25rem;
  left: 10%;
  font-size: 4.5rem;
  text-shadow: 5px 5px 10px white;
}

.hotel-description-img {
  position: absolute;
  top: 77%;
  left: 10%;
  width: 35rem;
  font-size: 2rem;
  text-shadow: 5px 5px 10px white;
}

.hotel-details {
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 15px;
  padding: 2rem;
  width: 45rem;
  justify-self: center;
}

.hotel-details-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  font-size: 1.2rem;
}

.hotel-description-title,
.hotel-rooms-title {
  justify-self: center;
  margin: 4rem;
  font-size: 1.5rem;
}

.hotel-description-details {
  justify-self: center;
  width: 50rem;
  line-height: 1.9rem;
  text-align: justify;
  font-size: 1.2em;
}

.hotel-rooms {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  gap: 6rem;
  color: white;
}

.room-card {
  border: 2px solid var(--primary-color);
  border-radius: 15px;
  background-color: var(--secondary-color);
  width: 20rem;
  height: 33rem;
  padding: 0.5rem;
}

.room-card-img {
  width: 100%;
  height: 16rem;
  border-radius: 15px;
}

.room-card-title {
  text-align: center;
  margin: 1rem;
}

.room-card-description {
  text-align: center;
  margin: 2rem;
  font-size: 1.2rem;
}
