@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  --primary-color: #feffea;
  --secondary-color: #e60012;
  --tertiary-color: #424242;
  --font-family: Josefin Sans, sans-serif;
}

* {
  font-family: var(--font-family);
}
