.form-hotel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  width: 40%;
  margin: auto;
  padding-top: 3rem;
}

.form-hotel-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.form-hotel-textarea {
  width: 350px;
  height: 75px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 5px;
}

.admin-form-hotel-button {
  margin-top: 1rem;
  border-radius: 15px;
  width: 15rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

.admin-form-hotel-button:hover {
  cursor: pointer;
}

.light.form-hotel-main-container {
  background-color: var(--primary-color);
  color: black;
}

.dark.form-hotel-main-container {
  background-color: var(--primary-dark-color);
  color: white;
}

.light.form-hotel-textarea {
  background-color: white;
  color: black;
  border-color: var(--secondary-color);
}

.dark.form-hotel-textarea {
  background-color: var(--primary-color);
  color: black;
  border-color: var(--secondary-dark-color);
}
