body {
  background-color: var(--primary-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 80vh;
  gap: 1.5rem;
  margin-top: 5%;
}

.login-page {
  display: flex;
  justify-content: center;
  gap: 10%;
}
.login-input {
  height: 40px;
  border: red solid 2px;
  border-radius: 12px;
  width: 80%;
  font-size: 1.1rem;
  padding: 16px;
}
.login-input::placeholder {
  font-size: 1.1rem;
}

.login-submit {
  border: 0;
  border-radius: 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 40%;
  height: 40px;
  font-size: 1.3rem;
}
.login-submit-left {
  margin-top: -0.5rem;
}
.login-h2 {
  color: var(--secondary-color);
}
.login-p {
  color: var(--secondary-color);
  font-size: 0.9rem;
  margin-top: -1rem;
  align-self: flex-start;
}

@media only screen and (max-width: 1024px) {
  .login-form {
    width: 40%;
  }
  .login-input::placeholder {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 464px) {
  .login-page {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  .login-form {
    width: 80%;
    height: auto;
  }
}
