.form-attraction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  width: 40%;
  margin: auto;
  margin-top: 3rem;
}

.form-attraction-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.form-admin-attraction {
  width: 350px;
  height: 75px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 5px;
}

.admin-form-button:hover {
  cursor: pointer;
}
