.main-admin {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: center;
}

.admin-row1,
.admin-row2 {
  border: 2px solid black;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  width: 20rem;
}

.admin-row2 {
  width: 30rem;
}

.admin-attraction,
.admin-restaurants,
.admin-hotels,
.admin-events,
.admin-attraction-title {
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  border: 2px solid black;
  width: 15rem;
}

.admin-attraction-title {
  width: 20rem;
}

.admin-attraction:hover,
.admin-restaurants:hover,
.admin-hotels:hover,
.admin-events:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  opacity: 80%;
}
