.main-admin {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: center;
  min-height: 100vh;
}

.admin-row1,
.admin-row2 {
  border: 2px solid black;
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  width: 20rem;
}

.admin-row2 {
  width: 28rem;
}

.admin-attraction,
.admin-restaurants-title,
.admin-hotels,
.admin-events,
.admin-restaurants,
.admin-attraction-title {
  margin: 1rem;
  padding: 1rem;
  border-radius: 15px;
  border: 2px solid black;
  width: 15rem;
}

.admin-restaurants-title,
.admin-attraction-title {
  width: 23rem;
}

.admin-attraction:hover,
.admin-restaurants:hover,
.admin-hotels:hover,
.admin-events:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
  opacity: 80%;
}

.add-events-admin,
.add-attraction-admin,
.add-restaurants-admin,
.add-hotel-admin {
  color: black;
  display: flex;
  align-items: center;
}

.logo-plus-admin {
  height: 2rem;
}

.light.main-admin {
  background-color: var(--primary-color);
}

.dark.main-admin {
  background-color: var(--primary-dark-color);
  color: white;
}

.dark.admin-row1,
.dark.admin-attraction,
.dark.admin-hotels,
.dark.admin-restaurants,
.dark.admin-events,
.dark.admin-row2,
.dark.admin-attraction-title,
.dark.admin-restaurants-title {
  border-color: white;
}

.dark.add-attraction-admin,
.dark.add-hotel-admin,
.dark.add-restaurants-admin,
.dark.add-events-admin {
  color: white;
}
