.container-page-carte {
  background-color: var(--primary-color);
}

.img-bowser-carte {
  display: flex;
  justify-content: center;
  margin: 7%;
}

.text-error-carte {
  display: flex;
  text-align: -webkit-center;
  font-size: 2.5rem;
  margin: 8%;
}
