.background-attraction {
  width: 100%;
  max-height: 500px;
}

.texte-card-attraction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15px;
  line-height: 6vh;
}

.card-link-attraction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  align-self: flex-start;
  height: 100%;
  width: 20%;
  border-radius: 10px;
  background-color: var(--secondary-color);
  height: 90vh;
  margin: 3vh;
  align-items: start;
}

.img-attraction {
  height: 35vh;
  width: 100%;
  border-radius: 10px;
}

.container-card-attractions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.map-nintendream {
  display: flex;
  justify-self: center;
  width: 80%;
  height: 35rem;
  margin-top: 5vh;
  margin-bottom: 5vh;
  border-radius: 10px;
}
.filter-button-attraction {
  background-image: linear-gradient(
    to right,
    #e60012 0%,
    #e35d5b 51%,
    #e60012 100%
  );
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 20px;
  display: block;
  border: none;
  text-decoration: none;
}
.filter-button-attraction:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
.attraction-flex-button-p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: auto;
  margin-top: 1rem;
  width: fit-content;
  border: 2px var(--secondary-color) solid;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  max-width: 80%;
}
.attraction-flex-button {
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 464px) {
  .card-link-attraction {
    width: 80%;
  }

  .map-nintendream {
    width: 80%;
    height: 20rem;
  }
  .attraction-flex-button-p {
    flex-direction: column;
    gap: 1rem;
  }
  .attraction-flex-button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
  .filter-button-attraction {
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
  }
}

@media screen and (min-width: 464px) and (max-width: 840px) {
  .card-link-attraction {
    width: 60%;
    height: auto;
    justify-content: center;
  }
  .img-attraction {
    height: 50vh;
    margin: auto;
  }
  .attraction-flex-button-p {
    flex-direction: column;
    gap: 1rem;
  }
  .attraction-flex-button {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
  }
}
